body {
    background-color: #f6f8fe;
    color: black;
}

.message {
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 1em;
}

.main-content {
    overflow-y: auto;
}

.route-container {
    padding: 10px 50px;
}

.screen-container {
    width: 100%;
}

.home-screen {
    padding: 0 20px;
    height: 100%;
}

.page-not-found-screen {
    position: relative;
}
.page-not-found-screen img {
    object-fit: contain;
}

.page-not-found-image {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 25px;
}
