body {
    /* margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    background-color: #f6f8fe;
    color: black;
}

/* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}  */

.message {
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 1em;
}

.route-container {
    padding: 10px 50px;
}

.screen-container {
    /* border: 1px solid black; */
    width: 100%;
}
