/* ------------- FriendList.js ------------------ */

.friend-list-container {
    padding: 12px 24px;
    background-color: white;
    border-radius: 16px;
    border: 1px solid grey;
    width: 100%;
}

.friend-list-friend-box-container {
    padding: 3px 5px;
    color: white;
}

.friend-list-friend-box {
    padding: 3px 5px;
    background-color: white;
    border: 1px solid #78c2ad;
    color: black;
}
.friend-box-name {
    font-size: 18px;
    text-transform: capitalize;
    margin-left: 10px;
}

.friend-option-button-container {
    margin-right: 12px;
}
.friend-option-button {
    cursor: pointer;
}
.view-all-button {
    cursor: pointer;
    padding: 6px 4px;
    font-size: 14px;
    color: grey;
}

/* ------------- searchFriendPopup.js ------------------ */

.search-results-container {
    max-height: 200px;
    overflow-y: scroll;
}

/* ------------- FriendsCreditDebt.js ------------------ */

.owe-container {
    padding: 20px 10px;
    margin-bottom: 12px;
    border-radius: 5px;
    box-shadow: 0 1px 2px #c6c6c6;
    background-color: white;
}

.left-container {
    height: 100%;
    border-right: 1px solid #5a5a5a;
    padding-right: 10px;
}
.right-container {
    padding-left: 10px;
}
.left-container .btn {
    margin-left: 10px;
    padding: 4px 8px;
    font-size: 12px;
}

@media (max-width: 992px) {
    .left-container {
        border-right: none;
        padding-right: 0px;
    }
    .right-container {
        padding-left: 0px;
        margin-top: 30px;
    }
}
