/* .card-body-most-recent-expense {
    border-left: 1px solid grey; */
/* padding-left: 50px;
} */
/* ---------------- GroupList.js ------------------ */

.card-body-most-recent-expense li {
    /* border: 1px solid green; */
    /* padding-left: 25px; */
    list-style: none;
    /* padding-bottom: 10px; */
}

.list-wrapper {
    position: relative;
    /* border: 1px solid green; */
}
.list-item-wrapper {
    /* margin-top: 10px; */
    position: relative;
}
.list-bullet {
    float: left;
    margin-left: 9px;
    margin-top: 6px;
    margin-right: 20px;
    background: #78c2ad;
    height: 12px;
    width: 12px;
    line-height: 10px;
    border-radius: 100px;
    font-weight: 700;
    color: white;
    text-align: center;
}
.list-item {
    display: table-row;
    vertical-align: middle;
    margin-left: 10px;
    /* border: 1px solid green; */
}
.list-title {
    margin-bottom: 10px;
}
.list-text {
    font-weight: 400;
    margin-bottom: 20px;
}
.red-line {
    background: #78c2ad;
    z-index: 0;
    width: 1px;
    height: 100%;
    position: absolute;
    left: 15px;
}
.white-line {
    background: #fff;
    z-index: -1;
    top: 0px;
    width: 1px;
    height: 100%;
    position: absolute;
    left: 15px;
}

.owed-box {
    border-radius: 10px;
    height: 100%;
    max-width: 300px;
    /* padding: 8px 16px; */
}

.group-container {
    position: relative;
}

.delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* ---------------- IndividualGroupScreen.js ------------------ */
.group-name-container h1 {
    padding-right: 10px;
}

.group-name-container .clickable {
    cursor: pointer;
}

.group-name-container .clickable i {
    color: rgb(72, 67, 67);
}

/* ---------------- ExpenseList.js ------------------ */
.expense-list {
    margin-bottom: 30px;
}

.expense-list .expense-list-col {
    overflow: auto;
}

.description-heading {
    padding-top: 3px;
}

.detail strong {
    font-weight: 600;
}

@media (max-width: 992px) {
    .expense-list .expense-list-col {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .expense-list .expense-list-col {
        font-size: 14px;
    }
}

/* ---------------- ExpenseDetailPopup.js ------------------ */

.expense-detail-popout h5 {
    margin-bottom: 20px;
}

.expense-detail-popout .left-col div {
    margin-bottom: 10px;
}

.right-col {
    border-left: 1px solid;
}

.disabled {
    background-color: #f2f2f2; /* Light grey background */
    color: #999; /* Grey text color */
    pointer-events: none; /* Disable pointer events */
    border: 4px solid #f2f2f2;
    border-radius: 10px;
}
